 .main {
            font-family: monospace;
            font-size: 1.1rem;
            width: 50vw;
            display: flex;
            align-items: center;
            flex-direction: column;
            background-color:#FE5D26;
            color:cornsilk;
            border-radius: 10px;
        }
        input{
        height: 20px;
        border-radius: 4px;
        background-color: transparent;
        color: black;
        }
        select{
        height: 20px;
        border-radius: 4px;
        background-color: transparent;
        color: black;
        }
        button{
            width: 100px;
            height: 30px;
            border-radius: 5px;
            background-color: red;
            border: none;
            font-family: monospace;
            margin-bottom: 10px;
        }
        .div-out{
                margin-right: 40px;
                border: 2px solid black;
                width: 100px;
                text-align: left;
                border-radius: 5px;
                height: 20px;
            }
        @media screen and (max-width:600px) {
            body{
                margin: 0%;
                padding: 0%;
                text-align: center;
            }
            select{
                width: 90%;
                font-size: 0.7rem;
            }
            input{
                width: 80%;
                font-size: 0.7rem;
                height: 15px;
            }
            .main{
                width: 100%;
                font-size: 0.8rem;
            }
            .main h1 {
                font-size: 1.5rem;
                width: 100%;
                text-align: center;
            }

            .main {
                align-items: start;
            }
            .quantInput{
                width: 100px;
            }
            .div-out{
                margin-right: 40px;
                border: 2px solid black;
                width: 60px;
                text-align: left;
                border-radius: 5px;
                height: 20px;
            }
        }